site_name: DaviidAM Blog
site_url: https://daviidam.github.io/Blog

theme:
  name: material # material or dracula
  features:
    #- navigation.tabs
    #- navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime

markdown_extensions:
  - codehilite
  - pymdownx.superfences
  - pymdownx.highlight
  - toc:
      permalink: "#"
  - tables
  - admonition
  - footnotes
  - meta
  - def_list
  - attr_list
  - sane_lists
  - pymdownx.extra:
      pymdownx.superfences:
        custom_fences:
          - name: mermaid
            class: mermaid
            format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - style.css

nav:
  - 游 Home: index.md
  - 游닄 Learning:
      - Python:
          - B치sico:
              - "Python/basic/01 - Fundamentos del lenguaje.md"
              - "Python/basic/02 - Operadores.md"
              - "Python/basic/03 - Estructuras Condicionales.md"
              - "Python/basic/04 - Bucles.md"
              - "Python/basic/05 - Funciones.md"
              - "Python/basic/06 - Ambito de variables.md"
          - NumPy:
              - B치sico: "Python/NumPy/01 - basic.md"
              - "Python/NumPy/02 - arrays.md"
              - "Python/NumPy/03 - index.md"
              - "Python/NumPy/04 - operations.md"
          - Pandas:
              - B치sico: "Python/Pandas/01 - basic.md"
              - Series: "Python/Pandas/02 - series.md"
              - DataFrames: "Python/Pandas/03 - dataframes.md"
              - Lectura y escritura: "Python/Pandas/04 - input_output.md"
          - Matplotlib:
              - B치sico: "Python/matplotlib/01 - basic.md"
              - Seaborn: "Python/matplotlib/02 - seaborn.md"
          - Keras:
              - B치sico: "Python/Keras/01 - basic.md"
          - Pydantic:
              - "Python/pydantic/01 - modelos.md"
      - Kafka:
          - Resumen: "Kafka/01 - Overview.md"
          - Ejemplos con Python: "Kafka/python_kafka_examples.md"
      - Machine Learning:
          - B치sico: "Machine Learning/01-concepts.md"
          - ANNs: "Machine Learning/02-ANNs.md"
      - AWS Services:
          - SAA Exam: "AWS/00 - SAA_exam.md"
          - Cloud Computing: "AWS/01 - cloud_computing.md"
      - Terraform:
          - B치sico:
              - "Terraform/basic/01 - Introduction.md"
              - "Terraform/basic/02 - Configurations.md"
              - "Terraform/basic/03 - Infrastructure.md"
  - 九꽲잺 Notas:
      - Mejorar apariencia de la terminal: "notes/beautiful_terminal.md"
